:root {
  --primary-color: #3490dc;
  --default-color: #fbc848;
  --default-color-hover: #e6b84f;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.yellow {
  color: var(--default-color);
}

.yellow-bg {
  background-color: #fbc848;
}

.yellow-bg:hover {
  background-color: #f6c02b;
}

.green {
  color: #1f5d1e;
}

.green-bg {
  background-color: #1f5d1e;
}

.header {
  font-size: 34px;
  font-weight: bold;
}

.swiper-pagination-bullet:nth-child(n+4) {
  display: none !important;
}


#about {
  scroll-margin-top: 80px;
}
#services {
  scroll-margin-top: 60px;
}
#gallery {
  scroll-margin-top: 50px;
}
#rooms {
  scroll-margin-top: 75px;
}
#faq {
  scroll-margin-top: 120px;
}
#reviews {
  scroll-margin-top: 75px;
}


