:root {
  --primary-color: #3490dc;
  --default-color: #f4c95d;
  --default-color-hover: #e6b84f;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.yellow {
  color: var(--default-color);
}

.yellow-bg {
  background-color: var(--default-color);
}

.yellow-bg:hover {
  background-color: #F0B100;
}

.green {
  color: #1f5d1e;
}

.green-bg {
  background-color: #1f5d1e;
}

.header {
  font-size: 34px;
  font-weight: bold;
}